<div class="mt-5" style="width:100vw;position:relative">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#fff"
        style="position: absolute;bottom:0;left:0;width:100%;">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>
<footer class="position-relative background-primary center-align flex-column p-5">
    <div class="container">
        <div class="row">
        <div class="col-lg-3 text-secondary">
            <p class="fs-5 fw-bold ">Social Welfare</p>
            <p class="fs-6 fw-normal">Design made easy</p>
        </div>
        <div class="col-lg-3">
            <p class="fw-bold text-secondary">Title</p>
            <ul class=" list-unstyled text-secondary">
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
            </ul>
        </div>
        <div class="col-lg-3"><p class="fw-bold text-secondary">Title</p>
            <ul class=" list-unstyled text-secondary">
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
            </ul>
        </div>
        <div class="col-lg-3"><p class="fw-bold text-secondary">Title</p>
            <ul class=" list-unstyled text-secondary">
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
                <li class="mb-2">Link</li>
            </ul>
        </div>
    </div>
    </div>
    <div class="container border-0 border-top border-secondary d-flex justify-content-between text-secondary">
        <p>Copyright SocialWelfare 2024</p>
        <p>Privacy Policy - Terms & Conditions</p>
    </div>
</footer>