<div class="full-screen-section center-align flex-column px-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 center-align border border-danger">
                <div style="width: 30vw;height:15vh;border-radius:15px;border:2px solid black;padding:15px">
                    <div class=" row">
                        <div class="col-sm-6">
                            <p>Pending Applications</p>
                            <p>20</p>
                        </div>
                        <div class="col-sm-6 border border-warning" style="width: 170px;">
                            <img src="/resources/LadliBeti.jpg" alt="Images"
                                style="max-width: 100%;max-height:100%;height:auto;object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 center-align">B</div>
            <div class="col-sm-4 center-align">C</div>
        </div>
    </div>
</div>