@{
    ViewData["Title"] = "Home Page";
}

<div class="full-screen-section center-align position-relative">
    <div class="row w-75 center-align">
        <div class="col-sm-6">
            <p class="font-heading">Discover comprehensive financial services on our dynamic landing page."</p>
            <p class="fs-6 fw-normal">Welcome to Social Welfare Department, a stop point for all your financial needs.
            </p>
            <div class="d-flex sm-flex-column gap-3">
                <button class="btn btn-primary p-2 px-5 fw-bold" onclick="window.location.href='/Home/Authentication'">
                    Get Started <i class="fa-solid fa-arrow-right ms-2"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-6 sm-hidden">
            <img src="~/resources/homeImage.jpg" alt="Home Image" class="img-fluid object-fit-contain">
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
        style="position: absolute;bottom:0;left:0;width:100%;">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>
<div class="full-screen-section center-align sm-height-auto background-primary position-relative">
    <div class="container center-align" id="projectsLaunched">
        <div class="row center-align w-75">
            <div class="col-sm-12">
                <p class="fs-2 fw-bold text-center text-white">Latest Services</p>
            </div>
            <div class="col-md-4 com-sm-12 center-align mt-4">
                <div class="card w-100 overflow-hidden position-relative" style="border-radius: 5px;">
                    <img src="~/resources/marriage.jpg" class="img-fluid" style="max-width: 100%; display: block;"
                        alt="demo">
                    <div class="overlay w-100 center-align text-white fs-5 fw-bold">
                        <p>MARRIAGE ASSISTANCE</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 com-sm-12 center-align mt-4">
                <div class="card w-100 overflow-hidden position-relative" style="border-radius: 5px;">
                    <img src="~/resources/Pension.jpg" class="img-fluid" style="max-width: 100%; display: block;"
                        alt="demo">
                    <div class="overlay w-100 center-align text-white fs-5 fw-bold">
                        <p>PENSION SCHEME</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 com-sm-12 center-align mt-4">
                <div class="card w-100 overflow-hidden position-relative" style="border-radius: 5px;">
                    <img src="~/resources/LadliBeti.jpg" class="img-fluid" style="max-width: 100%; display: block;"
                        alt="demo">
                    <div class="overlay w-100 center-align text-white fs-5 fw-bold">
                        <p>LADLI BETI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#fff"
        style="position: absolute;bottom:0;left:0;width:100%;">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>
<div class="" style="width:100vw;position:relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
        style="position: absolute;bottom:0;left:0;width:100%;fill:#fff">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>
<div class="full-screen-section center-align px-2" id="contactForm">
    <div class="container border shadow-lg mt-5" style="border-radius: 15px;overflow: hidden;">
        <div class="row position-relative" style="height: 70vh;">
            <div class="col-sm-6 center-align flex-column">
                <img src="/resources/contact.png" alt="Contact" class="img-fluid sm-hidden">
            </div>
            <div class="col-sm-6 center-align flex-column gap-2 p-3">
                <p class="font-heading">Get In Touch</p>
                <label for="Full Name">Full Name</label>
                <input type="text" name="fullname" placeholder="Full Name" id="fullname"
                    class="form-control rounded-pill">
                <label for="Email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" class="form-control rounded-pill">
                <label for="Message">Message</label>
                <textarea name="message" id="message" placeholder="Message" cols="30" rows="10"
                    class="form-control"></textarea>
                <button class="btn btn-dark w-25">Submit</button>
            </div>
        </div>
    </div>
</div>