<div class="full-screen-section center-align flex-column">
    <div class="container">
        <table class="table table-striped table-hover" style="border-radius:10px;overflow:hidden;">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Service Name <i class="fa-solid fa-sort"></i></th>
                    <th scope="col">Department <i class="fa-solid fa-sort"></i></th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> Application for financial assistanct under Marriage Scheme</td>
                    <td> Department Of Social Welfare</td>
                    <td><button class="btn btn-dark w-100">Visit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/pagination.js"></script>