<div class="full-screen-section center-align flex-column px-1">
    <div class="container shadow-lg rounded" style="max-height: 60vh;overflow-y: auto;">
        <div class="row p-3">
            <div class="col-sm-4">
                <img src="/resources/profile.png" alt="Profile" class="img-fluid rounded-circle border border-dark">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="font-heading">Personal Details</p>
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Name">Name</label>
                        <input class="form-control mb-2" type="text" name="name" id="name" value="Momin Hussain Rather"
                            readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Category">Category</label>
                        <input class="form-control mb-2" type="text" name="category" id="category" value="PDD"
                            readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Father Name">Father Name</label>
                        <input class="form-control mb-2" type="text" name="fatheName" id="fatheName"
                            value="Muzaffar Hussain Rather" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Mother's Name">Mother's Name</label>
                        <input class="form-control mb-2" type="text" name="motherName" id="motherName"
                            value="Rahila Rouf" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Date Of Birth">Date Of Birth</label>
                        <input class="form-control mb-2" type="date" name="dateOfBirth" id="dateOfBirth"
                            value="2000-07-23" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Date Of Marriage">Date Of Marriage</label>
                        <input class="form-control mb-2" type="date" name="dateOfMarriage" id="dateOfMarriage"
                            value="2024-07-23" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Email">Email</label>
                        <input class="form-control mb-2" type="email" name="email" id="email"
                            value="momin.rather@gmail.com" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Mobile Number">Mobile Number</label>
                        <input class="form-control mb-2" type="text" name="mobileNumber" id="mobileNumber"
                            value="9149653661" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="font-heading">Address Details</p>
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Address">Present Address</label>
                        <input class="form-control mb-2" type="text" name="presentAddress" id="presentAddress"
                            value="161 Gujjar Nagar" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present District">Present District</label>
                        <input class="form-control mb-2" type="text" name="presentDistrict" id="presentDistrict"
                            value="JAMMU" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Tehsil">Present Tehsil</label>
                        <input class="form-control mb-2" type="text" name="presentTehsil" id="presentTehsil"
                            value="JAMMU" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="PresentBlock">PresentBlock</label>
                        <input class="form-control mb-2" type="text" name="presentBlock" id="presentBlock" value="JAMMU"
                            readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Muncipality/Halqa Panchayat">Present Muncipality/Halqa Panchayat</label>
                        <input class="form-control mb-2" type="text" name="presentPanchayat" id="presentPanchayat"
                            value="PANCHAYAT" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Ward">Present Ward</label>
                        <input class="form-control mb-2" type="text" name="presentWard" id="presentWard" value="WARD"
                            readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Village">Present Village</label>
                        <input class="form-control mb-2" type="text" name="presentVillage" id="presentVillage"
                            value="VILLAGE" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Present Pincode">Present Pincode</label>
                        <input class="form-control mb-2" type="text" name="presentPincode" id="presentPincode"
                            value="180001" readonly />
                    </div>
                    <hr>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Address">Permanent Address</label>
                        <input class="form-control mb-2" type="text" name="permanentAddress" id="permanentAddress"
                            value="161 Gujjar Nagar" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent District">Permanent District</label>
                        <input class="form-control mb-2" type="text" name="permanentDistrict" id="permanentDistrict"
                            value="JAMMU" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Tehsil">Permanent Tehsil</label>
                        <input class="form-control mb-2" type="text" name="permanentTehsil" id="permanentTehsil"
                            value="JAMMU" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="PermanentBlock">PermanentBlock</label>
                        <input class="form-control mb-2" type="text" name="permanentBlock" id="permanentBlock"
                            value="JAMMU" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Muncipality/Halqa Panchayat">Permanent Muncipality/Halqa Panchayat</label>
                        <input class="form-control mb-2" type="text" name="permanentPanchayat" id="permanentPanchayat"
                            value="PANCHAYAT" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Ward">Permanent Ward</label>
                        <input class="form-control mb-2" type="text" name="permanentWard" id="permanentWard"
                            value="WARD" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Village">Permanent Village</label>
                        <input class="form-control mb-2" type="text" name="permanentVillage" id="permanentVillage"
                            value="VILLAGE" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Permanent Pincode">Permanent Pincode</label>
                        <input class="form-control mb-2" type="text" name="permanentPincode" id="permanentPincode"
                            value="180001" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="font-heading">Bank Details</p>
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Bank Name">Bank Name</label>
                        <input class="form-control mb-2" type="text" name="bankName" id="bankName"
                            value="THE JAMMU AND KASHMIR BANK LTD." readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Branch Name">Branch Name</label>
                        <input class="form-control mb-2" type="text" name="branchName" id="branchName"
                            value="RESIDENCY ROAD" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Ifsc Code">Ifsc Code</label>
                        <input class="form-control mb-2" type="text" name="ifscCode" id="ifscCode" value="JAKA0KEEPER"
                            readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="AccountNumber">AccountNumber</label>
                        <input class="form-control mb-2" type="text" name="accountNumber" id="accountNumber"
                            value="0076040100012086" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="font-heading">Documents</p>
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Identity Proof">Identity Proof</label>
                        <input class="form-control mb-2" type="text" name="identityProof" id="identityProof"
                            value="/uploads/identityproof.pdf" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Domicile Certificate">Domicile Certificate</label>
                        <input class="form-control mb-2" type="text" name="domicileCertificate" id="domicileCertificate"
                            value="/uploads/identityproof.pdf" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Marriage Certificate">Marriage Certificate</label>
                        <input class="form-control mb-2" type="text" name="marriageCertificate" id="marriageCertificate"
                            value="/uploads/identityproof.pdf" readonly />
                    </div>
                    <div class="col-sm-6 d-flex flex-column">
                        <label for="Education Certificate">Education Certificate</label>
                        <input class="form-control mb-2" type="text" name="educationCertificate"
                            id="educationCertificate" value="/uploads/identityproof.pdf" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-dark width-25 mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Take
        Action</button>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Action To Take</h1>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label for="Choose Action">Choose Action</label>
                    <select name="action" id="action" class="form-select">
                        <option value="forward">Forward</option>
                        <option value="reject">Reject</option>
                        <option value="returnToEdit">Return To Edit</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>